<%= link_to("<< Back to List", {:action => 'list'}, :class => 'back-link') %>

<div class="Group show">
  <h2>Show Group</h2>

  <table summary="Group detail view">
  	<tr>
      <th>Group id</th>
      <td><%= @g.id %></td>
    </tr>
    <tr>
      <th>Name</th>
      <td><%= @g.name %></td>
    </tr>
    <tr>
    	<th>Team Members</th>
    	<td>
		<% for ps in @g.human %>
		<div>
		  <%= ps.name %>
		</div>
		<% end %>
		</td>
    </tr>
    <tr>
      <th>Created</th>
      <td><%= @g.created_at %></td>
    </tr>
    <tr>
      <th>Updated</th>
      <td><%= @g.updated_at %></td>
    </tr>
  </table>
  
</div>
