<h1>Demo#hello</h1>
<p>Hello World!</p>

ID: <%= @id %><br />
Page Number: <%= @page + 1 %><br />
<% target= "world"%>
<%= "Hello #{target}"%>

<% @array.each do |n|%>
<%= n%> <br/>
<%end%>

<%= link_to("link",{:controller =>'demo',:action => 'index'})%>

<hr />

<%= params.inspect %>
