<%= link_to("<< Back to List", {:action => 'list'}, :class => 'back-link') %>

<div class="People update"</h2>

  <%= form_for(:human, :url => {:action => 'update',:id => @human.id}) do |ps| %>
  
  <table summary="Group detail view">
  	<tr>
      <th>People name</th>
      <td><%= ps.text_field(:name) %></td>
    </tr>
    <tr>
      <th>NID</th>
      <td><%= ps.text_field(:nid) %></td>
    </tr>
        <% gs=Group.all %>
    	<% @g2s=Array.new%>
    	<% gin=@human.group%>
    	<% for x in gs%>
        	<% if x.human.count < 4 || gin.include?(x)%>
        		<% @g2s.push(x)%>
            <% end%>
    	<% end%>
    <tr>
      <th>Group Name</th>
      <td><%= ps.select(:group_id, @g2s.map {|p| [p.name,p.id]}, :prompt => "Select a Group") %></td>
    </tr>
    <tr>
      <th>Groups Belongs to</th>
      <td>
		  <%= ps.select :group_ids, @g2s.map {|x| [x.name, x.id]}, {}, :multiple => true %>
	  </td>
	  <br>
	  <td>
	  	**Use Ctrl key to multy select
	  </td> 	
	</tr>
  </table>
  <div class="from-buttons">
		<%= submit_tag("Update People")%>	
  </div>
  
  <% end %>
</div>
