<%= link_to("<< Back to List", {:action => 'list'}, :class => 'back-link') %>

<div class="People show">
  <h2>Show Group</h2>

  <table summary="People detail view">
  	<tr>
      <th>People ID</th>
      <td><%= @ps.id %></td>
    </tr>
    <tr>
      <th>Name</th>
      <td><%= @ps.name %></td>
    </tr>
    <tr>
      <th>NID</th>
      <td><%= @ps.nid %></td>
    </tr>
    <tr>
      <th>Group Name</th>
      <% temp=Group.find(@ps.group_id)%>
      <td><%= temp.name %></td>
    </tr>
    <tr>
    	<th></th>
    </tr>
    <tr>
    	<th>Groups Belongs to</th>
    	<td>
		<% for group in @ps.group %>
		<div>
		  <%= group.name %>
		</div>
		<% end %>
		</td>
    </tr>	
    <tr>
      <th>Created</th>
      <td><%= @ps.created_at %></td>
    </tr>
    <tr>
      <th>Updated</th>
      <td><%= @ps.updated_at %></td>
    </tr>
  </table>
  
</div>
